{% extends "base.html" %}
{% block content %}


  <div class="container">
    <br><br>
    <h1 class="header center blue-grey-text">Simple IT Solutions</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern approach to traditional IT problems</h5>
    </div>
    <br><br>
  </div>

    




  <div class="container">
    <!-- Page Content goes here -->
    <div class="row">
      <div class="center promo promo-example">
        <div class="col s4">
            <i class="large material-icons">new_releases</i>
            <p class="promo-caption">No Nonsense</p>
            <p class="light center">

            </p>
        </div>
        <div class="col s4">
            <i class="large material-icons">lock_outline</i>
            <p class="promo-caption">Reliable</p>
            <p class="light center">
            </p>
        </div>
        <div class="col s4">
            <i class="large material-icons">thumb_up</i>
            <p class="promo-caption">Trustworthy</p>
            <p class="light center">
            </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
