{% if DEFAULT_PAGINATION %}
<nav>
  <ul class="pagination">
      {% if articles_page.has_previous() %}
      <li>
          <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
      </li>
      {% endif %}
      {% for page in range(1, articles_paginator.num_pages + 1) %}
      {% if loop.first %}
        {% set rendered_file = page_name ~ ".html" %}
      {% else %}
        {% set rendered_file = page_name ~ page ~ ".html" %}
      {% endif %}
      <li{% if output_file == rendered_file %} class="active"{% endif %}>
      <a href="{{ rendered_file }}">{{ page }}</a>
      </li>
      {% endfor %}
      {% if articles_page.has_next() %}
      <li>
          <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
      </li>
      {% endif %}
  </ul>
</nav>
{% endif %}
